/*
 * name    : slick
 * content : 
 */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("../images/ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; pointer-events: none;}
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Dots */

.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; *display:inline;*zoom:1; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { color: black; opacity: 0.75; }
[dir="rtl"] .slick-next {right: auto;left: -25px;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev {right: -25px;left: auto;}
[dir="rtl"] .slick-prev:before {content: "\2192";}
[dir="rtl"] .slick-slide {float: right;}

/*
 * name    : nav_module
 * content : 主导航栏模块
 */
.ele_pic_nav{}
.nav_module{display:block;width:692px; padding:0px 7px; height:54px; text-align:right;}
.nav_module .np_item{width:110px;height:41px; display:inline-block;*display:inline;*zoom:1;background:url(../images/common_ele_pic_nav.png) no-repeat 0px -9999px; position:relative; vertical-align:middle;}
.nav_module .np_item .p_link{display:block;width:110px;height:41px; line-height:41px; overflow:hidden; text-align:center; color:#717171; text-decoration:none;}
.nav_module .np_item.current{ border-bottom:3px solid #bd4132;}
.nav_module .np_item.current .p_link{color:#a5392c;}

.nav_child{ background:url(../images/common_ele_pic_navCBG.png) repeat 0px 0px;width:108px; border:1px solid #c1c1c1; position:absolute;left:0px;top:41px; display:none;}
.nav_child .item{ height:35px; line-height:35px; font-size:14px; color:#000; display:block; text-align:center; text-decoration:none;}
.nav_child .item:hover{ background-image:url(../images/common_ele_pic_navCBG_hover.png);}
.nav_module .np_item:hover .nav_child{ display:block;}

/*
 * name    : bannerShow_module
 * content : banner展示模块
 */
.bannerShow_module .slick-dots{ text-align:center;bottom:0px;width:100%;}
.slick-dots li{width:10px;height:10px; background:url(../images/index_icons_index.png) no-repeat 0px 0px; }
.slick-dots li.slick-active{ background-position:0px -10px;}
.slick-prev,.slick-next{ display:none !important;}

/*
 * name    : title_module
 * content : title展示模块
 */
.title_module{position:relative; border-bottom:1px solid #cececd;}
.title_module .txt{ color:#333333; font-size:22px; height:44px; line-height:44px;}
.title_module .more{ font-size:14px; color:#a5392c; text-decoration:none; font-family:"Aril"; position:absolute;top:18px;right:8px;}
.title_module .more:hover{ text-decoration:underline;}

/*
 * name    : columnCon_module
 * content : 栏目模块
 */
.columnCon_module-con{ white-space:normal;}
.columnCon_module-con-top{ height:95px; overflow:hidden;}
.columnCon_module-con-top .news{ float:left; margin-right:10px;}
.columnCon_module-con-top .title,.columnCon_module-con-top .con,.columnCon_module-con-top .time{ margin:0px 0px 9px 0px; display:block;}
.columnCon_module-con-top .title{ font-size:16px; color:#333333;}
.columnCon_module-con-top .con,.columnCon_module-con-top .time{ color:#797777; font-size:14px;}
.columnCon_module-con-top .link{ text-decoration:none; display:block;}
.columnCon_module-con-top,.columnCon_module-con-bottom{ margin-top:20px;}
.columnCon_module-con-txt{ line-height:24px; font-size:14px; color:#5c5a5a; margin:0px;}

/*
 * name    : newsList_module
 * content : 新闻列表模块
 */
.newsList_module,.newsList_module-item{ margin:0px; padding:0px;}
.newsList_module-item{ height:28px; line-height:28px; list-style:none; border-bottom:1px dotted #CCCCCC;}
.newsList_module-item .iconList{ vertical-align:middle; margin-right:6px;}
.newsList_module-item .txt,.newsList_module-item .time{ display:inline-block;*display:inline;*zoom:1; vertical-align:middle; font-size:14px; text-decoration:none; color:#5c5a5a;} 
.newsList_module-item .txt{-o-text-overflow:ellipsis;text-overflow:ellipsis; white-space:nowrap;overflow:hidden; width:94%; margin-right:10px;}
.newsList_module-item .txt:hover{ text-decoration:underline; color:#F00;}

/*
 * name    : pictureList_module
 * content : 图片列表模块
 */
.pictureList_module {margin:0px; padding:0px;}
.pictureList_module li {display:inline-block;*display:inline;*zoom:1;width: 152px;height:195px;margin-right: 20px; margin-bottom:20px; }
.pictureList_module a {display: block; width: 152px; text-align: center;}
.pictureList_module a:hover {text-decoration: none; _zoom: 1;}
.pictureList_module a:hover img {border:1px solid #f40; background-color: #f40;}
.pictureList_module li img {float:left;border:1px solid #aaa; display:block; width: 150px; height: 150px;}
.pictureList_module li span {float:left;margin:0px; padding:0px;display: block; font-size: 12px; width: 152px;height:45px; line-height: 180%;}

/*
 * name    : pictureList_module
 * content : 图文列表模块
  */
.picture_txtList_module {margin:0px; padding:0px;}
.picture_txtList_module li {padding:5px; overflow: hidden;height: 150px; margin-bottom:10px;}
.picture_txtList_module li .picture {float:left;display:block;width:150px;height:150px; margin-right:10px; }
.picture_txtList_module li .picture img {width: 150px; height: 150px;}
.picture_txtList_module li .picture_txt { float:left;display:block; width: 1000px; height: 150px;}
.picture_txtList_module li .picture_txt h1 {overflow: hidden; line-height: 18px; height: 18px; font-size:16px;}
.picture_txtList_module li .picture_txt p {overflow: hidden; color: #777; text-indent: 2em; line-height:125%;height:80px;margin:0px;}
.picture_txtList_module li .picture_txt span {display: block; line-height:25px; height:25px;font-size:12px;}
.picture_txtList_module li .picture_txt a{ text-decoration:none; color:#F60;}
.picture_txtList_module li .picture_txt a:hover{ text-decoration:underline;}

/*
 * name    : pictureList_module
 * content : 分页模块
  */
.pages_module {padding-right: 0px; padding-left: 0px; padding-bottom: 10px; overflow: hidden; width: 100%; padding-top: 10px; position: relative;}
.pages_module ol {left: 50%; float: left; position: relative;list-style: none;}
.pages_module li {right: 50%; float: left; margin: 2px; position: relative; font-size:12px;}
.pages_module li a {border: 1px solid #000; padding:0px 6px; display: inline-block; width: auto; line-height: 20px; white-space: nowrap; background-color: #fff; text-decoration:none;}
.pages_module li span {border: 1px solid #000; padding:0px 6px; display: inline-block; width: auto; line-height: 20px; white-space: nowrap; background-color: #fff;}
.pages_module li a:hover {color: #fff; background-color: #f00; text-decoration: none;}
.pages_module li a.current {font-weight: bold; cursor: not-allowed; background-color: #ffa401;}
.pages_module li span.current {font-weight: bold; cursor: not-allowed; background-color: #ffa401;}
.pages_module li a[title] {font-family: sans-serif;}
.left.pages_module ol {left: 0px;}
.left.pages_module li {right: 0px;}
.right.pages_module ol {left: 100%;}
.right.pages_module li {right: 100%;}

/*
 * name    : pmgressbar_module
 * content : 进度条
 */
.pmgressbar_module{width:400px;height:32px;}
.pmgressbar_outline{float:left;margin-right:10px;width:320px;height:30px;border:1px solid #009e96;}
.grounding{height:30px;background-color:#009e96;}
.pmgress_txt{float:left;width:60px;height:32px;line-height:32px;font-size:14px;}

/*
 * name    : pageTitle_module
 * content : 内页title模块
 */
.pageTitle_module{ position:relative; border-bottom:1px solid #c5c5c5; height:48px;margin-bottom:15px;}
.pageTitle_module-list{ text-align:right; padding-top:22px;}
.pageTitle_module-list .item{ display:inline-block;*display:inline;*zoom:1; font-size:12px; color:#9a9a9a; margin-left:6px;text-decoration:none;}
.pageTitle_module-list .link:hover{ text-decoration:underline; color:#F00;}
.pageTitle_module-list .current{color:#00F;}
.pageTitle_module-txt{ font-size:20px; color:#444; position:absolute;bottom:4px;left:0px;}

/*
 * name    : sideBar_module
 * content : 侧导航栏模块
 */
.sideBar_module{ width:300px;}
.sideBar_module-head{ height:92px; line-height:92px; background:url(../images/sideBar_module_head_bg.png) repeat-x left bottom; font-size:28px; text-align:center;}
.sideBar_module_item{ height:41px; line-height:41px; text-align:center; border-bottom:1px solid #a5d9fd; position:relative;}
.sideBar_module_item .f_link{width:230px;height:33px; line-height:33px; vertical-align:middle; margin-bottom:4px; display:inline-block;*display:inline;*zoom:1; color:#838282;text-decoration:none; font-weight:bold;}
.sideBar_module_item .sideBar_module-c_list{ position:absolute;right:-106px;top:-1px; display:none;}
.sideBar_module-c_list{width:102px; background-color:#fff; margin:0px; padding:0px; border:2px solid #8ccdfc; border-bottom-width:1px;}
.sideBar_module-c_list li{ list-style:none; border-bottom:1px solid #8ccdfc;}
.sideBar_module-c_list .c_link{ color:#027acf; text-decoration:none;font-size:12px; height:30px; line-height:30px; display:block;}
.sideBar_module-c_list .c_link:hover{ background-color:#f6fbff;}
.sideBar_module_item:hover .f_link,.sideBar_module_item.current .f_link{ background:url(../images/sideBar_module_item_current.png) no-repeat 50% 50%;color:#fff;}
.sideBar_module_item:hover .sideBar_module-c_list{ display:block;}