/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("../images/ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; pointer-events: none;}
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Dots */

.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; *display:inline;*zoom:1; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { color: black; opacity: 0.75; }
[dir="rtl"] .slick-next {right: auto;left: -25px;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev {right: -25px;left: auto;}
[dir="rtl"] .slick-prev:before {content: "\2192";}
[dir="rtl"] .slick-slide {float: right;}



/*
 * name    : 原子类
 * content : fn
 */
.fn_fl{ float:left;}
.fn_fr{ float:right;}
.fn_tl{ text-align:left !important;}
.fn_tc{ text-align:center !important;}
.fn_tr{ text-align:right !important;}
.fn_inBlock{display:inline-block; *display:inline;*zoom:1; }
.fn_unline{ text-decoration:underline;}
.fn_inText{ border:1px solid #ccc; height:19px; line-height:19px; padding:0px 3px;}
.fn_h40{ height:40px; clear:both;}

/*
 * name    : common
 * content : 公共元素
 */
body{}
.com_ele_pics{ background:url(../images/common_ele_pics.png) no-repeat 0px 0px;display:inline-block;*display:inline;*zoom:1;}
.searchBg{ background-position:0px 0px; width:187px; height:25px; border:0;}
.iconList{width:7px; height:7px; background-position:0px -25px;}

.comm_searchCon{ overflow:hidden; *margin-top:20px;}
.comm_searchCon input{float:left;}
.comm_searchCon .txt{ height:25px; line-height:25px; padding:0px 5px;width:143px; background-color:transparent; border:0; color:#888; }
.comm_searchCon .searchBtn{height:25px;width:34px; border:0; background-color:transparent;}


/*
 * name    : nav_module
 * content : 主导航栏模块
 */
.ele_pic_nav{}
.nav_module{display:block;width:692px; padding:0px 7px; height:54px; text-align:right;}
.nav_module .np_item{width:110px;height:41px; display:inline-block;*display:inline;*zoom:1;background:url(../images/common_ele_pic_nav.png) no-repeat 0px -9999px; position:relative; vertical-align:middle;}
.nav_module .np_item .p_link{display:block;width:110px;height:41px; line-height:41px; overflow:hidden; text-align:center; color:#717171; text-decoration:none;}
.nav_module .np_item.current{ border-bottom:3px solid #bd4132;}
.nav_module .np_item.current .p_link{color:#a5392c;}

.nav_child{ background:url(../images/common_ele_pic_navCBG.png) repeat 0px 0px;width:108px; border:1px solid #c1c1c1; position:absolute;left:0px;top:41px; display:none;}
.nav_child .item{ height:35px; line-height:35px; font-size:14px; color:#000; display:block; text-align:center; text-decoration:none;}
.nav_child .item:hover{ background-image:url(../images/common_ele_pic_navCBG_hover.png);}
.nav_module .np_item:hover .nav_child{ display:block;}


/*
 * name    : header
 * content : 头部样式
 */
.header{ background:url(../images/common_ele_pic_headBg.png) repeat-x 0px 0px transparent; height:105px; width:100%; position:relative; z-index:10;}
.header_con{width:1002px; margin:0px auto;}
.logo_con a{ vertical-align:middle; padding-top:10px; display:block;}

.headerRight_con_top{ height:54px; line-height:54px; text-align:right; width:706px;}
.headerRight_con_top .item{ display:inline-block;*display:inline;*zoom:1; font-size:12px; color:#888; margin-left:10px; vertical-align:middle;}
.headerRight_con_top .comm_searchCon{ height:25px; vertical-align:middle; text-align:left;}


/*
 * name    : mainContainer
 * content : 主要内容容器样式
 */
.mainContainer{width:100%; top:-8px; margin:0px auto; background-color:#fff; min-height:840px; z-index:0; position:relative;}

/*
 * name    : index_dataBar
 * content : index页容器样式
 */
.index_dataBar{width:100%;margin:0px auto;overflow:hidden;}
.index_dataBar-bottom{ width:1002px; margin:0px auto;}
.index_dataBar-bottom .columnCon_module{float:left; white-space:nowrap; width:303px; margin-right:31px; margin-top:30px;}

/*
 * name    : bannerShow_module
 * content : banner展示模块
 */
.bannerShow_module .slick-dots{ text-align:center;bottom:0px;width:100%;}
.slick-dots li{width:10px;height:10px; background:url(../images/index_icons_index.png) no-repeat 0px 0px; }
.slick-dots li.slick-active{ background-position:0px -10px;}
.slick-prev,.slick-next{ display:none !important;}

/*
 * name    : title_module
 * content : title展示模块
 */
.title_module{position:relative; border-bottom:1px solid #cececd;}
.title_module .txt{ color:#333333; font-size:22px; height:44px; line-height:44px;}
.title_module .more{ font-size:14px; color:#a5392c; text-decoration:none; font-family:"Aril"; position:absolute;top:18px;right:8px;}
.title_module .more:hover{ text-decoration:underline;}

/*
 * name    : columnCon_module
 * content : 栏目模块
 */
.columnCon_module-con{ white-space:normal;}
.columnCon_module-con-top{ height:95px; overflow:hidden;}
.columnCon_module-con-top .news{ float:left; margin-right:10px;}
.columnCon_module-con-top .title,.columnCon_module-con-top .con,.columnCon_module-con-top .time{ margin:0px 0px 9px 0px; display:block;}
.columnCon_module-con-top .title{ font-size:16px; color:#333333;}
.columnCon_module-con-top .con,.columnCon_module-con-top .time{ color:#797777; font-size:14px;}
.columnCon_module-con-top .link{ text-decoration:none; display:block;}
.columnCon_module-con-top,.columnCon_module-con-bottom{ margin-top:20px;}
.columnCon_module-con-txt{ line-height:24px; font-size:14px; color:#5c5a5a; margin:0px;}

/*
 * name    : newsList_module
 * content : 新闻列表模块
 */
.newsList_module,.newsList_module-item{ margin:0px; padding:0px;}
.newsList_module-item{ height:28px; line-height:28px; list-style:none;}
.newsList_module-item .iconList{ vertical-align:middle; margin-right:6px;}
.newsList_module-item .txt,.newsList_module-item .time{ display:inline-block;*display:inline;*zoom:1; vertical-align:middle; font-size:14px; text-decoration:none; color:#5c5a5a;} 
.newsList_module-item .txt{-o-text-overflow:ellipsis;text-overflow:ellipsis; white-space:nowrap;overflow:hidden; width:240px;}
.newsList_module-item .txt:hover{ text-decoration:underline;}

/*
 * name    : footer
 * content : footer
 */
.footer{height:75px;width:100%; background-color:#e5e5e5;}
.footer-con{width:1040px; margin:0px auto;}
.footer-con table{ width:100%; border:none;}
.footer-con table td{height:75px; color:#333333; font-size:12px; text-align:center; line-height:20px; font-family:"宋体";}
.footer-con table td a{ vertical-align:middle; margin:0px 4px;}